<h1 class="current-category"><%= params[:category] %></h1>

<% if @book.count == 0 %>

  <h1>There are no books currently in this category</h1>

<% else%>
  
  <div class="row">

  <% @book.each do |book| %>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <%= link_to image_tag(book.image, class: "book"), book_path(book) if book.image.attached?%>
    </div>

  <% end %>

  </div>

<% end %>

